<footer class="site-footer">
	<div class="container">
		<div class="row">
		<!--
		<ul class="footer-social-links">
		<h6>Follow Me Elsewhere</h6>
			<li><a href="{{site.global.github-url}}"><i class="fa fa-github" aria-hidden="true"></i>My Github Profile</a></li>
			<li><a href="{{site.global.facebook-url}}"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a></li>
			<li><a href="{{site.global.linkedin-url}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a></li>
		</ul>
		-->
		<div class="col-sm-12 site-map">
				<a href="#">About</a>
				<a href="#">Blog</a>
				<a href="#">Contact</a>
		</div>
		<div class="col-sm-12">
			ALL CONTENT COPYRIGHT 2016
		</div>
	</div>
	</div>
</footer>

<!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="{{ site.data.global.url }}/js/jquery.js"></script>