<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/"><i class="fa fa-cog" aria-hidden="true"></i>{{ site.data.global.title }}</a>
    
    <div class="flex-row-reverse collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            {% for item in site.data.nav.main %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.url }}">{{ item.text }}</a>
                 </li>
            {% endfor %}
         </ul>
    </div>
 </nav>